@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  /*colors*/
  /*Primary*/
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --darkDesCyan: hsl(167, 40%, 34%); /*(graphic design text)*/
  --darkBlue: hsl(198, 62%, 26%); /*(photography text)*/
  --darkModCyan: hsla(168, 70%, 41%, .5); /*(footer)*/
  /*Neutral*/
  --vdDesaturatedBlue: hsl(212, 27%, 19%);
  --vdGrayishBlue: hsl(213, 9%, 39%);
  --dGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  /*Typography
Body Copy
Font*/
  --fontBarlow: 'Barlow', sans-serif;
  --fontFraunces: 'Fraunces', serif;
  --fSize: 18px;
  /*dimensions*/
  --buttonHeight: calc(var(--fSize) * 3);
  --buttonRadius: calc(var(--buttonHeight) / 2);
  --buttonWidth: 145px;
  --squareHeight: calc(100vh * (2 / 3));
  --aboutHeight: calc(var(--squareHeight) * 2);
  --squareWidth: 50vw;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  /*overflow: hidden;*/
}
#mainFig {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
#Orange {
  height: auto;
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 0;
  z-index: 0;
  transform: translate(-50%, 0);
  background-color: aqua;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
}
.headerSection {
  color: var(--White);
  text-decoration: none;
  font-family: var(--fontBarlow);
  font-size: var(--fSize);
}
.headerContact {
  display: flex;
  background-color: var(--White);
  color: var(--vdDesaturatedBlue);
  text-decoration: none;
  height: var(--buttonHeight);
  width: var(--buttonWidth);
  border-radius: var(--buttonRadius);
  font-family: var(--fontFraunces);
  font-size: var(--fSize);
  font: 700;
  align-items: center;
  justify-content: center;
}

#Arrow {
  position: absolute;
  bottom: 0;
  /*height: auto;
  width: 50px;*/
  z-index: 2;
}
#weAre {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--White);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: var(--textWidth);
  /*min-width: var(--minTextWidth2);
  height: var(--listHeight);
  min-height: var(--minListHeight);*/
  margin: 0;
  padding: 0;
  list-style: none;
}

#About {
  height: var(--aboutHeight);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
#Services {
  height: var(--squareHeight);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  position: relative;
  height: var(--squareHeight);
  width: 100%;
  min-width: var(--squareHeight);
  overflow: hidden;
}
.textC {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
}
.imageC {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}
.imageL {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.imageL2 {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.aboutTitle {
  font-family: var(--fontFraunces);
  color: var(--vdDesaturatedBlue);
}
.aboutText {
  font-family: var(--fontBarlow);
  color: var(--dGrayishBlue);
  text-wrap: wrap;
}
.learnMore {
  font-family: var(--fontFraunces);
  color: var(--vdDesaturatedBlue);
  margin: 56px;
  text-decoration-thickness: 5px;
}
.yellowLink {
  text-decoration-color: yellow;
}
.pinkLink {
  text-decoration-color: pink;
}

.servicesText {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

h1 {
  font-family: var(--fontFraunces);
  font-size: var(--fSize);
}
figure {
  margin: 0;
  padding: 0;
}

#galery {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  overflow: hidden;
}
.galeryIMG {
  width: 100%;
  height: auto;
}

.cLightBlue {
  background-color: lightblue;
}
.cGreen {
  background-color: var(--darkModCyan);
}
.cYellow {
  background-color: yellow;
}
.cPink {
  background-color: pink;
}
/*footer*/
#Contact {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#icons{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footerLogo {
  height: 36px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#footerSections{
  width: 20%;
  justify-content: space-between;
}
#socialNetwork{
  margin-top: 3%;
  width: 12%;
  justify-content: space-between;
}

.footerLink, .footerLink path {
  color: var(--darkDesCyan);
  text-decoration: none;
  font-family: var(--fontBarlow);
  font-size: var(--fSize);
  fill: var(--darkDesCyan);
}
.footerLink:hover, .footerLink:hover path {
  color: var(--White);
  fill: var(--White);
}
/*-- Feel free to remove these styles or customise in your own stylesheet 👍*/
#attribution {
  font-size: 11px;
  text-align: center;
}
#attribution a {
  color: hsl(228, 45%, 44%);
}
