/*Header*/
nav {
  top: 5%;
  z-index: 3;
  width: 95%;
}
ul {
  flex-direction: row;
}

#hamburger{
  display: none;
}

#headerList{
  width: 35%;
  display: block;
}

.headerSection {
  color: var(--White);
}
#headerContact {
  background-color: var(--White);
}
/*Home*/
#weAre {
  font-size: 30px;
}
#Arrow {
  position: absolute;
  z-index: 2;
}
/*Square sections*/
.square, .square2 {
  position: relative;
  height: var(--squareHeight);
  max-height: var(--maxSquareHeight);
  width: 100%;
}
/*About*/
#About {
  height: var(--aboutHeight);
  max-height: calc(var(--maxSquareHeight)*2);
  grid-template-columns: 1fr 1fr;
}
.aboutDiv{
  align-items: start;
  width: 60%;
  height: 70%;
}
#aboutleft{
  margin-left: 10%;
}
#aboutRight{
  margin-right: 10%;
}
/*Services*/
#Services {
  height: var(--squareHeight);
  max-height: var(--maxSquareHeight);
  justify-content: center;
  align-items: center;
}
.imgServices{
  justify-content: end;
}

.figCaptionServ{
  height: 30%;
  width: 47.5%;
}
/*Projects*/
#Projects{height: 100vh;}
#testimonials{width: 77%;}

.stories{width: 30%;}
.figCaptionS{height: 60%;}

.profilePic{
  height: var(--profilePicDiam);
  width: var(--profilePicDiam);
  border-radius: calc(var(--profilePicDiam)/2);
}
/*Galery*/
#galery {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1080px){
  #headerList{
    width: 50%;
  }
  #aboutleft{
    width: 70%;
  }
  #aboutRight{
    width: 70%;
  }
  .figCaptionServ{
    height: 30%;
    width: 70%;
  }
}
