/*Header*/
nav {
  top: 5%;
  z-index: 3;
  width: 87.5%;
}

#hamburger {
  display: block;
}

#headerList{
  display: none;
  width: 0;
  height: 0;
  border-top: 70px solid transparent;
  border-right: 65px solid white;
  border-bottom: 70px solid white;
  border-left: 65px solid transparent;
  overflow: visible;
  position: absolute;
  top: 50px;
  right: 0px;
}
#headerListChild{
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  height: 400px;
  width: 87vw;
  overflow: hidden;
  position: relative;
  top: -35px;
  left: -87vw;
  transform: translate(65px, 0);
}

.headerSection {
  color: var(--dGrayishBlue);
}
#headerContact {
  background-color: var(--Yellow);
}
/*Home*/
#weAre {
  font-size: 25px;
}
#Arrow {
  position: absolute;
  z-index: 2;
}
/*Square Sections*/
.square {
  height: 120vw;
  width: 100vw;
}
.square2 {
  position: relative;
  height: 83vw;
  width: 100vw;
}
/*About*/
#About {
  grid-template-columns: 100%;
  overflow: hidden;
}
#firstEl{
  grid-row: 1;
}
.aboutDiv{
  align-items: center;
  width: 67%;
  height: 75%;
}

.aboutTitle {
  text-align: center;
}
.aboutText {
  text-align: center;
}
/*Services*/
#Services {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow: hidden;
  position: relative;
}
.imgServices{
  justify-content: start;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 0;
}
.imageChild2{
  position: relative;
}

.figCaptionServ{
  width: 72%;
  position: absolute;
  bottom: 0;
}
/*Projects*/
#Projects{
  padding: 100px 0;
}
#testimonials{
  flex-direction: column;
  width: 68%;
}

.stories{margin-top: 90px;}

.profilePic{
  height: var(--profilePicDiamMob);
  width: var(--profilePicDiamMob);
  border-radius: calc(var(--profilePicDiamMob)/2);
  margin-bottom: 35px;
}
/*Galery*/
#galery {
  grid-template-columns: 1fr 1fr;
}
